.basic-list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(auto-fill, auto);
}

@media all and (min-width: $middle-size) {
  .basic-list {
    grid-template-columns: repeat(auto-fill, 324px);
    grid-gap: 60px;
  }

  .basic-list--margin {
    margin-bottom: 72px;
  }
}

@media all and (min-width: $large-size) {
  .basic-list {
    grid-template-columns: repeat(auto-fill, 244px);
    column-gap: 80px;
    row-gap: 63px;
  }

  .basic-list--margin {
    margin-bottom: 40px;
  }
}
