.catalog-additional__tille {
  position: relative;
  margin-top: 30px;
  margin-bottom: 25px;
  color: $basic-font-color-three;
}

.catalog-additional__tille::after,
.catalog-additional__tille::before {
  position: absolute;
  top: 65%;
  left: 245px;
  height: 2px;
  width: 100vw;
  background-color: $basic-color;
  content: "";
}

.catalog-additional__tille::before {
  display: none;
}

.catalog-additional__promo-wrapper {
  margin: 35px 0;
}

@media all and (min-width: $middle-size) {
  .catalog-additional__tille {
    margin-left: 35px;
    margin-bottom: 68px;
  }

  .catalog-additional__tille::after {
    left: 360px;
  }

  .catalog-additional__tille::before {
    display: inline-block;
    top: 65%;
    left: -65px;
    width: 30px;
  }

  .catalog-additional__promo-wrapper {
    margin: 70px 0 75px 0;
  }
}

@media all and (min-width: $large-size) {
  .catalog-additional__tille::before {
    display: inline-block;
    top: 65%;
    left: -110px;
    width: 70px;
  }

  .catalog-additional {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: auto auto;
    column-gap: 80px;
    margin-bottom: 5px;
  }

  .catalog-additional__tille {
    grid-column: 1/-1;
    grid-row: 1/2;
    margin-left: 0;
    margin-bottom: 77px;
  }

  .catalog-additional__list {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .catalog-additional__promo-wrapper {
    margin: 0;
    grid-column: 2/3;
    grid-template-rows: 2/3;
    align-self: center;
  }

  .promo-action__img,
  .catalog-additional__promo-wrapper {
    width: 245px;
  }
}
