.site-navigation {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-font-color-three;
  list-style: none;

  @include reset-list();
}

.site-navigation__link {
  display: inline-block;
  width: 100%;
  padding: 18px 0;
  text-decoration: none;
  color: inherit;
  border: 2px solid transparent;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    @include dark-focus();
  }
}

.site-navigation__item {
  position: relative;
  width: 100%;
  border-bottom: 2px solid transparent;
  text-align: center;
}

.site-navigation__item::after {
  position: absolute;
  bottom: 0;
  right: 0;
  left: -30px;
  content: "";
  height: 1px;
  width: calc(100vw + 30px);
  background-color: rgba(230, 230, 230, 1);
}

.site-navigation__item:last-child::after {
  display: none;
}

@media all and (min-width: 768px) {
  .site-navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .site-navigation__item--active,
  .site-navigation__item--active-inner {
    border-bottom: 2px solid $basic-color;
  }

  .site-navigation__item {
    width: auto;
  }

  .site-navigation__item::after {
    display: none;
  }

  .site-navigation__link {
    padding: 8px 0 5px 0;
  }
}

@media all and (min-width: 1440px) {
  .site-navigation {
    line-height: 30px;
    color: $common-color;
  }

  .site-navigation__link {
    &:focus {
      outline: 2px solid $common-color;
    }
  }

  .site-navigation__item {
    margin-right: 33px;
  }

  .site-navigation__item--summary {
    margin-right: 0;
  }

  .site-navigation__item--active {
    color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid $common-color;
  }

  .site-navigation__item--inner-pages {
    color: $basic-font-color-three;
  }

  .site-navigation__item--inner-pages .site-navigation__link:focus {
    @include dark-focus();
  }
}
