$font-size: 14px;
$line-height: 18px;
$middle-size: 768px;
$large-size: 1440px;
$mobile-only:767px;

//buttons
$basic-color: rgba(104, 183, 56, 1);
$basic-color-modified: rgba(94, 170, 47, 1);
$accent-color: rgba(242, 242, 242, 1);
$accent-color-modified: rgba(235, 235, 235, 1);

//fonts
$basic-font-color: rgba(68, 68, 68, 1);
$basic-font-color-two:rgba(34, 34, 34, 1);
$basic-font-color-three: rgba(0, 0, 0, 1);

//fonts and background
$common-color: rgba(255, 255, 255, 1);
$common-color-two: rgba(217, 217, 217, 1);

//decoration
$border-decoration-color:rgba(230, 230, 230, 1);
